.login-form {
    text-align: center;
	
}

#login-message, #logout-message {
    color: cornflowerblue;
}

.book-image {
    height: 350px;
}

.container-fluid {
	background-color: midnightblue;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.panel-body {
    background-color: #BDC8D8;
    text-align: center;
}

.well {
    text-align: center;
    background-color: #BDC8D8;
}

body {
    background-color: #CFDCF0;
}

.jumbotron {
	background: #BDC8D8;
    font-family: sans-serif;
}

#scroller {
     position: relative;
}

#scroller .innerScrollArea {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#scroller ul {
    padding: 0;
    margin: 0;
    position: relative;
}

#scroller li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}

.regbutton {
    text-align: center;
}