.login-form {
    text-align: center;
	
}

#login-message, #logout-message {
    color: cornflowerblue;
}

.book-image {
    height: 350px;
}

.container-fluid {
	background-color: B5ADA6;
}

.panel-body {
    background-color: B5ADA6;
}

body {
    background-color: #D6D1CD;
    background: -webkit-linear-gradient(bottom, #B5ADA6 0%, #D6D1CD 90%, #D6D1CD 100%);
    background: -o-linear-gradient(bottom, #B5ADA6 0%, #D6D1CD 90%, #D6D1CD 100%);
    background: linear-gradient(to top, #B5ADA6 0%, #D6D1CD 90%, #D6D1CD 100%); 
    
}

.jumbotron {
	background: transparent;
    /*background: #f0b7a1; /* Old browsers */
    /*background: -webkit-linear-gradient(bottom, #F2CCA7 0%, #B58D65 65%, #B58D65 100%);
    background: -o-linear-gradient(bottom, #F2CCA7 0%, #B58D65 65%, #B58D65 100%);
    background: linear-gradient(to top, #F2CCA7 0%, #B58D65 65%, #B58D65 100%); */
    

    /*background-color: #878787;*/

    border-bottom: 2px solid B5ADA6;
    font-family: sans-serif;
}

#scroller {
        position: relative;
    }
    #scroller .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #scroller ul {
        padding: 0;
        margin: 0;
        position: relative;
    }
    #scroller li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }